body {
    line-height: 1.25;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72pt;
    text-align: center;
}

header h1 img {
    max-width: 100%;
}

nav a
{
    display: inline-block;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

nav a.active_page
{
    color: black;
}

nav
{
    text-align: center;
}

header
{
    margin-bottom: 3.0em;
}

.gallery-image
{
    text-align: center;
    width: 100%;
}

.gallery-image h1
{
    font-size: 18pt;
    margin-bottom: 0;
}

.gallery-image>p
{
    white-space: pre-line;
    margin-top: 0;
    line-height: 10px;
}

footer {
    text-align: center;
    margin-top: 2.0em;
    padding-top: 2.0em;
    border-top: 1px solid #eee;
    color: #aaa;
    white-space: pre-line;
    margin-bottom: 1.0em;
}

nav a
{
    display: inline-block;
    margin-right: 1.0em;
    margin-left: 1.0em;
}

header nav
{
    position: relative;
}

header nav .social-media-buttons
{
    position: absolute;
    right: 0;
    bottom: 0;
}

header nav .social-media-buttons a
{
    margin: 0;
}

header h1 a
{
    color: black;
    text-decoration: none;
}

header h1 a:hover
{
    color: black;
    text-decoration: none;
}

.block-gallery-list a.active img
{
    opacity: 0.4;
}

.image-navigation-bar
{
    overflow: hidden;
    font-size: 1.1em;
    margin-top: 0.5em;
    text-align: right;
    color: #aaa;
}

.image-navigation-bar .back
{
    float: left;
}

.gallery-image p img
{
    max-width: 100%;
}

.gallery-image-thumb-non-quadratic
{
    max-width: 252px;
    max-height: 252px;
}

.gallery-image-thumb-quadratic
{
    max-width: 100%
}

.carousel-control.left, .carousel-control.right
{
    background-image: none;
    text-shadow: 1px 1px 6px #222;1

}

.container
{
    width: 849px;
}

.page-section
{
    clear: both;
    margin-bottom: 1.0em;
}

a:hover
{
    text-decoration: none;
}

.col-md-6-left-column
{
    padding-right: 23px;
}

.col-md-6-right-column
{
    padding-left: 23px;
}