header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 72pt;
    text-align: center;
}

nav a
{
    display: inline-block;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

nav
{
    text-align: center;
}

header
{
    margin-bottom: 3.0em;
}

.gallery-image
{
    text-align: center;
    width: 100%;
}

.gallery-image>p
{
    white-space: pre-line;
}

footer {
    text-align: center;
    margin-top: 2.0em;
    padding-top: 2.0em;
    border-top: 1px solid #eee;
    color: #aaa;
    white-space: pre-line;
    margin-bottom: 1.0em;
}

nav a
{
    display: inline-block;
    margin-right: 1.0em;
    margin-left: 1.0em;
}

header h1 a
{
    color: black;
    text-decoration: none;
}

header h1 a:hover
{
    color: black;
    text-decoration: none;
}

.block-gallery-list a.active img
{
    opacity: 0.4;
}

.image-navigation-bar
{
    overflow: hidden;
    font-size: 1.3em;
    margin-top: 0.5em;
    text-align: right;
}

.image-navigation-bar .back
{
    float: left;
}

.container
{
    width: 849px;
}

.page-section
{
    clear: both;
    margin-bottom: 1.0em;
}

a:hover
{
    text-decoration: none;
}
